/* Updated styles with the "Urban Jungle" color palette */

/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Dove Gray */
  color: #ffffff; /* Mine Shaft for main text */
  margin: 0;
  padding: 0;
}

/* Header and title */
.title {
  color: #ffffff; /* Emperor */
}

.subtitle {
  color: #ffffff; /* Dove Gray */
}

.hero {
  background-color: #02020293; /* Clay Creek */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #1f1f1f; /* Mine Shaft for text contrast */
}

/* Navigation */
.nav-link {
  color: #4f4f4f; /* Emperor */
  font-size: 1.5rem;
}

.nav-link:hover {
  color: #78783a; /* Yellow Metal */
}

.logo {
  color: #4f4f4f;
  font-weight: bold;
  font-size: 2.5rem;
}

/* Buttons */
.btn-dark {
  background-color: #78783a; /* Yellow Metal */
  color: white;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
}

.btn-dark:hover {
  background-color: #8f8f5b; /* Clay Creek */
}

/* Project Cards */
.card {
  background-color: #000000; /* White for clarity */
  border: none;
  box-shadow: 0 4px 6px rgb(255, 255, 255);
  border-radius: 10px;
}

.card-title {
  color: #ffffff; /* Emperor */
}

.card-text {
  color: #ffffff; /* Mine Shaft */
}
.card-img {
  height: 200px;
  object-fit: cover;
  color: white;
}

/* Footer */
.contact-info {
  background-color: #1f1f1f; /* Mine Shaft */
  color: #ffffff; /* White text for contrast */
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  justify-items: center;
}

.skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-icon i {
  font-size: 3rem;
  color: #0c0c0c;
  margin-bottom: 10px;
}

.skill-icon p {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}
/* Général */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f8f9fa; /* Fond clair */
}

.full-screen-container {
  position: sticky;
  height: calc(100vh - 56px); /* Hauteur moins la navbar */
  width: 100%;
}

iframe.pdf-viewer {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  border: none;
  background-color: white; /* Assure un fond blanc */
}

.download-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.download-btn:hover {
  background-color: #0056b3;
  text-decoration: none;
}




@media (max-width: 768px) {
  iframe {
    height: 70vh;
  }
  .download-btn {
    bottom: 10px;
    font-size: 1rem;
  }